<%- include('parts/head', {title: 'Filter'}); %>
<%- include('parts/nav'); %>
<section id="form" class="text-right"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>التسجيل بحسابك</h2>
						<div class="alert alert-danger alert-dismissable fade in">
						    <strong>خطا!</strong> البريد الالكترونى او كلمه السر خطا .
						    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

						 </div>
						 <div class="alert alert-success alert-dismissable fade in">
						    <strong>مرحبا!</strong> جاري تحويلك الى الصفحه الرئيسيه  :D .
						     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						 </div>
						<form id="login"  action="">
							<input type="email" id="login-email"  placeholder="البريد الاكترونى" />
							<input type="password" id="login-password"  placeholder="كلمه السر" />

							<button type="submit"  class="btn btn-default">تسجيل الدخول</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">او</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>! جديد سجل الان</h2>
						<form action="#">
							<input type="text" placeholder="الاسم"/>
							<input type="email" placeholder="البريد الالكترونى"/>
							<input type="password" placeholder="كلمه السر"/>
							<button type="submit" class="btn btn-default">تسجيل</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	<script type="text/javascript">
	$(document).ready(function(){
		$(".alert").hide();
		$("#login").submit(function(){

			var email = $("#login-email").val();
			var password = $("#login-password").val();
			$.get('/api/login',{
				email,
				password
			},function(data){
				if(data){
					$(".alert-danger").hide();
					$(".alert-success").show();
				}
				else{
					$(".alert-danger").show();
				}
			})
		return false;
		})
	})
	</script>


	<%- include('parts/footer'); %>
