<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 center-block">
						<div class="companyinfo">
							<h2>تسوق</h2>
							<p>يمكنك التسوق بكل سهوله</p>
						</div>
					</div>
					<div class="col-sm-7">
						
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>السعوديه</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>الخدمات</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>اختبار</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>اختبار</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>اختبار</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
								<li><a href="#">اختبار</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>اختبار</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>نوفر لك التسوق بسهوله<br />موقعنا هو الاسهل على الاطلاق</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 Amr Mohamed Inc. All rights reserved.</p>
					<p class="pull-right">Designed&Developed by <span><a target="_blank" href="">Eng Amr Mohamed & Eng Hossam samir</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
 <script src="/js/jquery.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>